<h1> Purchases </h1>

<% @purchases.sort_by! { |purchase| purchase.date } %>

<ul>
<% for purchase in @purchases %>
    <% owner = Owner.find(purchase.owner_id).full_name %>
    <% product_name = Product.find(purchase.product_id).name %>
    <li><%= "#{owner} bought #{product_name} on #{purchase.pretty_date}" %></li>  
<% end %>
</ul>
