<h1> Pet treatments </h1>

<% @pet_treatments.sort_by! { |treatment| Date.parse(treatment.date) } %>

<ul>
<% for treatment in @pet_treatments %>
    <% pet = Pet.find(treatment.pet_id).name %>
    <% treatment_name = Treatment.find(treatment.treatment_id).name %>
    <li><%= "#{pet} underwent #{treatment_name} on #{treatment.date}" %></li>  
<% end %>
</ul>
