<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Vet Surgery</title>
</head>
<body>

    <header>
        <a href="/">
            <img src="/logo.jpg" width="250" alt="Surgery logo" />
        </a>
        <nav>
            <ul>
                <span class="nav-heading">Registration</span>
                <li><a href="/appointments">Appointments</a></li>
                <li><a href="/pets">Pets</a></li>
                <li><a href="/owners">Owners</a></li>
                <li><a href="/vets">Vets</a></li>
            </ul>
            <ul> 
                <span class="nav-heading">Sales</span>   
                <li><a href="/owner_products">Products bought</a></li>
                <li><a href="/pet_treatments">Treatments given</a></li>
                <li><a href="/payments">Payments</a></li>
            </ul>
            <ul> 
                 <span class="nav-heading">Inventory</span>   
                <li><a href="/products">Products for sale</a></li>
                <li><a href="/treatments">Treatments offered</a></li>
            </ul>
        </nav>
    </header>

    <section id="content-main">
        <%= yield %>
    </section>

    <footer>
        <div id="footer-left">
            <p>
            Paws & Claws Veterinary Surgeons<br/>
            1, High Street<br/>
            Anytown<br/>
            NE1 1AA<br/>
            </p>
        </div>
        <div id="footer-right">
            Design by Robert Peacock
        </div>
    </footer>

</body>
</html>