<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Vet Surgery</title>
</head>
<body>

    <header>
        <a href="/">
            <img src="https://via.placeholder.com/150/FF0000/FFFFFF?Text=SurgeryLogo" alt="Surgery logo placeholder" />
        </a>
        <ul>
            <h3>Registration</h3>
            <li><a href="/appointments">APPOINTMENTS</a></li>
            <li><a href="/pets">PETS</a></li>
            <li><a href="/owners">OWNERS</a></li>
            <li><a href="/vets">VETS</a></li>
        </ul>
        <ul> 
            <h3>Sales</h3>   
            <li><a href="/owner_products">PRODUCTS BOUGHT</a></li>
            <li><a href="/pet_treatments">TREATMENTS GIVEN</a></li>
            <li><a href="/payments">PAYMENTS</a></li>
        </ul>
        <ul> 
            <h3>Inventory</h3>   
            <li><a href="/products">PRODUCTS FOR SALE</a></li>
            <li><a href="/treatments">TREATMENTS OFFERED</a></li>
        </ul>
    </header>

    <section id="content-main">
        <%= yield %>
    </section>

    <footer>
        <div id="footer-left">
            <p>
            Paws & Claws Veterinary Surgeons<br/>
            1, High Street<br/>
            Anytown<br/>
            NE1 1AA<br/>
            </p>
        </div>
        <div id="footer-right">
            Design by Robert Peacock
        </div>
    </footer>

</body>
</html>