<%= @pet.name %> successfully added.<br/>

<form class="btn-route" action="/pets/<%= @pet.id %>/edit" method="GET"><input type="submit" value="Edit <%= @pet.name %>"></form><br/>
<form class="btn-route" action="/pets/new" method="GET"><input type="submit" value="Add another"></form><br/>
<form class="btn-route" action="/pets" method="GET"><input type="submit" value="View all pets"></form><br/>
<form class="btn-route" action="/" method="GET"><input type="submit" value="Home"></form><br/>

