<h1> Pets </h1>

<% for pet in @pets %>
    
    <% status = "Not assigned to vet" %>
    <% status = "Assigned to #{pet.vet.full_name}" if pet.is_assigned?() %>

    <ul>
        <li><%= pet.name %> | <%= pet.type %> | <%= status %></li>
    </ul>
    
<% end %>

<a href="/pets/new"><button type="button">Add new</button></a>
