<h1>Add pet</h1>

<form id="form-pet-new" class="form-new" method="POST" action="/pets">

    <label for="name">Name</label>
    <input id="name" type="text" name="name" />
    <br/>

    <label for="dob">Date of Birth</label>
    <input id="dob" type="text" name="dob" />
    <br/>

    <label for="type">Type</label>
    <input id="type" type="text" name="type" />
    <br/>

    <label for="owner-name">Owner Name</label>
    <input id="owner-name" type="text" name="owner_name" />
    <br/>

    <label for="owner-tel">Owner Tel</label>
    <input id="owner-tel" type="text" name="owner_tel" />
    <br/>

    <label for="notes">Notes</label>
    <input id="notes" type="text" name="notes" />
    <br/>

    <input type="submit" value="Add pet">

</form>