<h1>Add pet</h1>

<form method="POST" action="/pets">

<label for="name">Name</label>
<input type="text" name="name" id="name"/>

<label for="dob">Date of Birth</label>
<input type="text" name="dob" id="dob"/>

<label for="type">Type</label>
<input type="text" name="type" id="type"/>

<label for="owner_tel">Owner Tel</label>
<input type="text" name="owner_tel" id="owner_tel"/>

<label for="notes">Notes</label>
<input type="text" name="notes" id="notes"/>

</form>