<h1>Add pet</h1>

<form id="form-pet-new" class="form-new" method="POST" action="/pets">

    <input type="hidden" name="owner_id" value="<%= @owner_id %>" />

    <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" />
    </div>

    <div class="form-field">
        <label for="dob">Date of Birth</label>
        <input id="dob" type="date" name="dob" />
    </div>

    <div class="form-field">
        <label for="type">Type</label>
        <input id="type" type="text" name="type" />
    </div>

    <div class="form-field">
        <label for="notes">Notes</label>
        <textarea id="notes" type="text" name="notes"></textarea>
    </div>
    
    <section class="button-row">
        <input class="submit" type="submit" value="Save">
        <button type="button"><a href="/vets">CANCEL</a></button>
    </section>

</form>