<%= @pet.name %> successfully updated.<br/>

<form class="btn-route" action="/pets/<%= @pet.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
<form class="btn-route" action="/pets" method="GET"><input type="submit" value="View all pets"></form>
<form class="btn-route" action="/" method="GET"><input type="submit" value="Home"></form>