Treatment deleted.<br/>

<form class="btn-route" action="/treatments" method="GET"><input type="submit" value="View all treatments"></form><br/>
<form class="btn-route" action="/" method="GET"><input type="submit" value="Home"></form><br/>