<h1>Edit treatment</h1>

<form id="form-treatment-edit" class="form-new" method="POST" action="/treatments/<%= @treatment.id %>">

    <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= @treatment.name %>" />
    </div>

    <div class="form-field">
        <label for="price">Price (£)</label>
        <input id="price" type="text" name="curr_price" value="<%= @treatment.curr_price %>" />
    </div>

    <section class="button-row">
        <input class="submit" type="submit" value="Save">
        <button type="button"><a href="/vets">CANCEL</a></button>
    </section>


</form>