<h1>Edit treatment</h1>

<form id="form-treatment-edit" class="form-new" method="POST" action="/treatments/<%= @treatment.id %>">

    <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= @treatment.name %>" />
    </div>

    <div class="form-field">
        <label for="cost">Cost (£)</label>
        <input id="cost" type="text" name="cost" value="<%= @treatment.cost %>" />
    </div>

    <input class="submit" type="submit" value="Edit treatment">

</form>