<h1> Treatments </h1>

<table id="table-treatments-list">
<thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
</thead>
<% for treatment in @treatments.sort_by! { |treatment| -treatment.curr_price } %>
    <tr>
        <td>
            <%= treatment.name %>
        </td> 
        <td>
            <%= treatment.curr_price.to_currency %>
        </td>
        <td> 
            <form class="btn-route" action="/treatments/<%= treatment.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
            <form class="btn-route" action="/treatments/<%= treatment.id %>/delete" method="POST"><input type="submit" value="Delete"></form>    
        </td>
    </tr>  
<% end %>
</table>

<form class="btn-route" action="/treatments/new" method="GET"><input type="submit" value="Add new"></form>