<h1> Treatments </h1>

<ul>
<% for treatment in @treatments %>
    <li><%= treatment.name %> | £<%= treatment.price %> 
        <form class="btn-route" action="/treatments/<%= treatment.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
        <form class="btn-route" action="/treatments/<%= treatment.id %>/delete" method="POST"><input type="submit" value="Delete"></form>    
    </li>  
<% end %>
</ul>

<form class="btn-route" action="/treatments/new" method="GET"><input type="submit" value="Add new"></form>