<h1>Add treatment</h1>

<form id="form-treatment-new" class="form-new" method="POST" action="/treatments">

    <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" />
    </div>

    <div class="form-field">
        <label for="price">Price (£)</label>
        <input id="price" type="text" name="curr_price" />
    </div>

    <input class="submit" type="submit" value="Save">
    <button type="button"><a href="/treatments">Cancel</button>

</form>