body {
    display: flex;
    flex-wrap: wrap;
    color: #1E1E24;
    background-color: #FFF8F0;
    font-family: Geneva, Tahoma, sans-serif;
}

body > * {
    padding: 1em;
}

header {
    flex-basis: 20%;
}

h1 {
    color: #92140C;
}

#content-main {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    border-left: 0.25em solid #111D4A;
}

.content-bottom {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    border-top: 0.25em solid #111D4A;
    background-color: #FFCF99;
}

#footer-right {
    text-align: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 0.5rem;
}

button > a {
    text-decoration: none;
    color: black;
}

.btn-route,
.submit {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
}

.id-sup {
    font-size: 0.75rem;
    font-style: italic;
    color: lightslategrey;
}

.form-field {  

}

.form-field > * {
    display: inline-block;
    margin-top: 0.5rem;
}

.form-field > label {
    width: 8rem;
}

.form-field > input,
.form-field > textarea {
    width: 17rem;
}

.deregistered {
    font-style: italic;
    color: lightslategrey;
}