body {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

body > * {
    padding: 1em;
}

header {
    flex-basis: 25%;
}

#content-main {
    max-width: 75%;
    border-left: 0.25em solid grey;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    border-top: 0.25em solid grey;
}

#footer-right {
    text-align: right;
}

ul {
    list-style-type: none;
}