body {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

body > * {
    padding: 1em;
}

header {
    flex-basis: 25%;
}

#content-main {
    flex-basis: auto;
    border-left: 0.25em solid grey;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    border-top: 0.25em solid grey;
}

#footer-right {
    text-align: right;
}

ul {
    list-style-type: none;
}

.btn-route {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
}

.id-sup {
    font-size: 0.75rem;
    font-style: italic;
    color: lightslategrey;
}

.form-field {  
    width: 50%;
}

.form-field label,
.form-field input {
    width: 50%;
}