<%= @vet.full_name %> successfully added.<br/>

<form class="btn-route" action="/vets/<%= @vet.id %>/edit" method="GET"><input type="submit" value="Edit <%= @vet.full_name %>"></form><br/>
<form class="btn-route" action="/vets/new" method="GET"><input type="submit" value="Add another"></form><br/>
<form class="btn-route" action="/vets" method="GET"><input type="submit" value="View all vets"></form><br/>
<form class="btn-route" action="/" method="GET"><input type="submit" value="Home"></form><br/>