<h1>Edit vet</h1>

<form id="form-vet-edit" class="form-new" method="POST" action="/vets/<%= @vet.id %>">

    <div class="form-field">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" name="first_name" value="<%= @vet.first_name %>" />
    </div>

    <div class="form-field">
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" name="last_name" value="<%= @vet.last_name %>" />
    </div>

    <div class="form-field">
        <label for="tel">Telephone Number</label>
        <input id="tel" type="text" name="tel" value="<%= @vet.tel %>"/>
    </div>

    <input class="submit" type="submit" value="Save">
    <button type="button"><a href="/vets">Cancel</button>

</form>