<h1> Vets </h1>

<ul>
<% for vet in @vets %>
    <li><a href="/vets/<%= vet.id %>"><%= vet.full_name %></a></li>  
<% end %>
</ul>

<%# <a href="/vets/new"><button type="button">Add new</button></a> %>
<form class="btn-route" action="/vets/new" method="GET"><input type="submit" value="Add new"></form>