<%= @vet.full_name %> successfully updated.<br/>

<form class="btn-route" action="/vets/<%= @vet.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
<form class="btn-route" action="/vets" method="GET"><input type="submit" value="View all vets"></form>
<form class="btn-route" action="/" method="GET"><input type="submit" value="Home"></form>