<h1> Payments </h1>

<% @payments.sort_by { |payment| payment.date } %>

<ul>
<% for payment in @payments %>
    <% owner = Owner.find(payment.owner_id).full_name %>
    <li>
        <%= "#{owner} paid #{payment.amount.to_currency} on #{payment.pretty_date}" %>
        <form class="btn-route" action="/payments/<%= payment.id %>/delete" method="POST">
            <input type="submit" value="Cancel"></form>
        </form>
    </li>  
<% end %>
</ul>