<h1> Payments </h1>

<% @payments.sort_by { |payment| payment.date } %>

<ul>
<% for payment in @payments %>
    <% owner = Owner.find(payment.owner_id).full_name %>
    <li><%= "#{owner} paid #{payment.amount.to_currency} on #{payment.pretty_date}" %></li>  
<% end %>
</ul>