<h1> Appointments for <%= @date.strftime("%A %-d %B %Y") %> </h1>

<div class="content-bottom">
    <section id="section-vet-schedule">
        <% for vet in Vet.all() %>
            <% @vet = vet %>
            <% @heading = vet.full_name %>
            <%= erb( :"appointments/table" ) %>    
        <% end %>
    </section>
</div>

<section class="button-row">
    <form class="btn-route" action="/appointments" method="GET">
        <button name="date" value="<%= @date - 1.day %>" type="submit"><< Prev</button>
        <button name="date" value="<%= @date + 1.day %>" type="submit">Next >></button>
    </form>
</section>

