<div class="content-left">
    <h1> Today's Appointments </h1>
</div>

<div class="content-right">
    <% for vet in Vet.all() %>
        <h2><%= vet.full_name %></h2>
        
        <% schedule_for_day = vet.schedule.filter { |timeslot| timeslot.date_time.to_date == Date.today() } %>
        <ul>
            <% for timeslot in schedule_for_day %>    
                <li>
                    <%= timeslot.pretty_time %> |
                    <% if timeslot.is_available?() %>
                        <em>Currently available</em>
                    <% else %>
                        <a href="/pets/<%= timeslot.pet_id %>">
                            <%= Pet.find(timeslot.pet_id).name %>
                        </a>
                    <% end %>
                </li>
            <% end %>
        </ul>  
    <% end %>
</div>
