<%= @owner.full_name %> successfully added.<br/>

<form class="btn-route" action="/owners/<%= @owner.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
<form class="btn-route" action="/owners/new" method="GET"><input type="submit" value="Add another"></form>
<form class="btn-route" action="/owners" method="GET"><input type="submit" value="View all owners"></form>
<form class="btn-route" action="/" method="GET"><input type="submit" value="Home"></form>