Owner deleted.<br/>

<form class="btn-route" action="/owners" method="GET"><input type="submit" value="View all owners"></form><br/>
<form class="btn-route" action="/" method="GET"><input type="submit" value="Home"></form><br/>