<h1>Add owner</h1>

<form id="form-owner-new" class="form-new" method="POST" action="/owners">

    <div class="form-field">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" />
    </div>

    <div class="form-field">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" name="first_name" />
    </div>

    <div class="form-field">
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" name="last_name" />
    </div>

    <div class="form-field">
        <label for="addr-1">Address 1</label>
        <input id="addr-1" class="addr" type="text" name="addr_1" />
    </div>

    <div class="form-field">
        <label for="addr-2">Address 2</label>
        <input id="addr-2" class="addr" type="text" name="addr_2" />
    </div>

    <div class="form-field">
        <label for="town-city">Town/City</label>
        <input id="town-city" class="addr" type="text" name="town_city" />
    </div>

    <div class="form-field">
        <label for="postcode">Postcode</label>
        <input id="postcode" type="text" name="postcode" />
    </div>

    <div class="form-field">
        <label for="email">E-mail</label>
        <input id="email" type="text" name="email" />
    </div>

    <div class="form-field">
        <label for="tel">Telephone No</label>
        <input id="tel" type="text" name="tel" />
    </div>

    <div class="form-field">
      
      <label for="registered">Registered?</label>
      <input id="registered" type="checkbox" name="registered" value="Registered" checked>
      <br/>

      <label for="marketing">Receive marketing?</label>
      <input id="marketing" type="checkbox" name="marketing" value="Marketing"> 
    
    </div>

    <section class="button-row">
        <input class="submit" type="submit" value="Save">
        <button type="button"><a href="/owners">CANCEL</a></button>
    </section>

</form>