<h1>Register new pet</h1>

<p>Select existing owner below or <a class="inline-link" href="/owners/new">enter new owner</a></p>

<% @owners.filter! { |owner| owner.is_registered? } %>
<%= erb( :"owners/owner_list" ) %>  


