<h1>Register new pet</h1>

Select existing owner below or <a href="/owners/new">enter new owner</a>

<ul>
<% for owner in @owners %>

        <li>
            <a href="/owners/<%= owner.id %>"><%= owner.full_name %></a> | 
            <%= owner.full_address %>
        </li>
    
<% end %>
</ul>

