<h1>Edit product</h1>

<form id="form-product-edit" class="form-new" method="POST" action="/products/<%= @product.id %>">

    <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= @product.name %>" />
    </div>

    <div class="form-field">
        <label for="price">Price (£)</label>
        <input id="price" type="text" name="curr_price" value="<%= @product.curr_price %>" />
    </div>

    <input class="submit" type="submit" value="Save">
    <button type="button"><a href="/products">Cancel</a></button>

</form>