<h1> Products </h1>

<table id="table-products-list">
<thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
</thead>
<% for product in @products.sort_by! { |product| -product.curr_price } %>
    <tr>
        <td>
            <%= product.name %>
        </td> 
        <td>
            <%= product.curr_price.to_currency %>
        </td>
        <td> 
            <form class="btn-route" action="/products/<%= product.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
            <form class="btn-route" action="/products/<%= product.id %>/delete" method="POST"><input type="submit" value="Delete"></form>    
        </td>
    </tr>  
<% end %>
</table>

<form class="btn-route" action="/products/new" method="GET"><input type="submit" value="Add new"></form>